extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        if (results.length === 0)
          .search-results__message
            p Не найдено <br>ни&nbsp;одной публикации
        else
          p.search-results__label
            | Найдено 
            span.js-results #{count} публикации
          ul.search-results__list
            each result in results
              li.search-results__item
                div(class=`ticket-card ticket-card--color${result.cardColor}`)
                  .ticket-card__img
                    img(src=`/img/${result.picture}`, alt='Изображение товара')
                  .ticket-card__info
                    +ticketLabel(result.type)
                    .ticket-card__categories
                      each category in result.categories
                          a(href=`/offers/category/${category.id}`) #{category.name}
                    .ticket-card__header
                      h3.ticket-card__title
                        a(href=`/offers/${result.id}`) #{result.title}
                      p.ticket-card__price
                        span.js-sum #{result.cost}
                        |  ₽
                    .ticket-card__desc
                      p #{result.description}
          if pageList.length > 1 && results.length !== 0
            .tickets-list__pagination
                  ul.pagination
                    li
                      a(href=`/search?search=${search}&page=1`) <<
                    li
                      a(href=`/search?search=${search}&page=${page === 1 ? 1 : page - 1}`) <
                    each pageNumber of pageList
                      li
                        a(href=`/search?search=${search}&page=${pageNumber}`, class={active: page === pageNumber}, style=`${page === pageNumber ? "pointer-events: none" : ""}`) #{pageNumber}
                    li
                      a(href=`/search?search=${search}&page=${page === maxPage ? maxPage : page + 1}`) >
                    li
                      a(href=`/search?search=${search}&page=${maxPage}`) >>
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
          a.tickets-list__link(href='/') #{discussedOffers.length !== 0 ? `Еще ${freshOffersCount}` : ''}
        if discussedOffers.length !== 0
          ul
            each itemOffer in freshOffers
              li.search-results__item
                div(class=`ticket-card ticket-card--color${itemOffer.cardColor}`)
                  .ticket-card__img
                    img(src=`/img/${itemOffer.picture}`, alt='Изображение товара')
                  .ticket-card__info
                    +ticketLabel(itemOffer.type)
                    .ticket-card__categories
                      each category in itemOffer.categories
                          a(href=`/offers/category/${category.id}`) #{category.name}
                    .ticket-card__header
                      h3.ticket-card__title
                        a(href=`/offers/${itemOffer.id}`) #{itemOffer.title}
                      p.ticket-card__price
                        span.js-sum #{itemOffer.cost}
                        |  ₽
                    .ticket-card__desc
                      p #{itemOffer.description}
        else
            .message
              .message__text
                p Здесь пока ничего нет.
          