extends layout.pug

block content
  main.page-content
    section.sign-up
      form.sign-up__form.form(action='/register', method='post', enctype='multipart/form-data', autocomplete='off')
        .sign-up__title
          h2 Регистрация
          a.sign-up__link(href='/login') Вход
        .sign-up__avatar-container.js-preview-container
          .sign-up__avatar.js-preview
          .sign-up__field-avatar
            input#avatar.visually-hidden.js-file-field(type='file', name='avatar')
            label(for='avatar')
              span.sign-up__text-upload Загрузить аватар…
              span.sign-up__text-another Загрузить другой аватар…
        .form__field.sign-up__field
          input#user-name.js-field(type='text', name='firstName', required='', value=prevUserData ? prevUserData.firstName : '')
          label(for='user-name') Имя
          if (errorDetails)
            each error in errorDetails.filter((el) => el.context.key === 'firstName')
              span(style={display: 'block', color: 'red'}) - #{error.message}
        .form__field.sign-up__field
          input#user-name.js-field(type='text', name='lastName', required='', value=prevUserData ? prevUserData.lastName : '')
          label(for='user-name') Фамилия
          if (errorDetails)
            each error in errorDetails.filter((el) => el.context.key === 'lastName')
              span(style={display: 'block', color: 'red'}) - #{error.message}
        .form__field.sign-up__field
          input#user-email.js-field(type='email', name='email', required='', value=prevUserData ? prevUserData.email : '')
          label(for='user-email') Эл. почта
          if (errorDetails)
            each error in errorDetails.filter((el) => el.context.key === 'email')
              span(style={display: 'block', color: 'red'}) - #{error.message}
        .form__field.sign-up__field
          input#user-password.js-field(type='password', name='password', required='')
          label(for='user-password') Пароль
          if (errorDetails)
            each error in errorDetails.filter((el) => el.context.key === 'password')
              span(style={display: 'block', color: 'red'}) - #{error.message}
        .form__field.sign-up__field
          input#user-password-again.js-field(type='password', name='repeatPassword', required='')
          label(for='user-password-again') Пароль еще раз
          if (errorDetails)
            each error in errorDetails.filter((el) => el.context.key === 'repeatPassword')
              span(style={display: 'block', color: 'red'}) - #{error.message}
        button.sign-up__button.btn.btn--medium.js-button(type='submit', disabled='') Создать аккаунт
